*{
  box-sizing: border-box;
}

body{
  background-color: #f9e9fc;
}

h1{
  text-align: center;
}

img{
  width: 100%;
}
.caixa{
  display: flex;
  justify-content:space-around;
  /* align-items: center; */
  flex-flow: row wrap;
  margin: auto;

}

.cartao{
  background-color: #d98fef; 
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap;
  padding: 0.8rem; 
  margin: 20px;
  width: 400px;
   font-size: 1rem;
}


.cartao img{
  clip-path: circle(50% at 50% 50%);
 width: 200px;
 height: 200px;
 filter: blur(5px);
}

.cartao img:hover{
 filter: none;
}

.texto{
  color: #422a49;
  background-color: #eabcf6;
  border-radius: 25px;
  padding: 0.8rem;
}

.texto ul{
  list-style: none;
}